.wholePage {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  color: white;

  .heading {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.1rem;
    text-align: center;
  }

  .imageGallery {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px 20px 20px 110px;
  }

  .pageDivider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 5;
    border: 2px solid white;
    padding: 12px;
    margin: 12px;

    .leftSideHeading {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 0.1rem;
      text-align: center;
    }
  }

  .rightSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1.5;
    padding: 12px;
    margin: 12px;
    border: 2px solid white;

    .rightSideHeading {
      margin-bottom: 0.1rem;

        .selectionText{
        padding: 1px;
        margin: 1px;
        font-size: 18px;
        text-align: center;
    }
    }
  }
}
