.svgFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  
  .svg {
    height: 100px;
    width: 100px;
    transition: all 0.2s ease-in-out;
    fill: #00f;
    
    & path {
      stroke: #000;
      stroke-width: 2;
    }
  
    &:hover {
      fill: #f00;
    }
  
    &:not(:first-child) {
      margin-top: 10px;
    }
  
    &::before {
      content: 'Svg Animation';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  