/* Hero Section */
.heroSection {
  position: relative;
  width: 100%;
  height: 100%; /* Adjust based on content */
  overflow: hidden; /* Prevent overflow issues */
}

/* Hero background */
.heroBackground {
  display: flex;
  width: 100%;
  height: 100vh; /* Ensure the image covers the entire viewport height */
  background-size: cover; /* Ensure the image covers the entire section */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  box-shadow: 0 2px 20px rgb(230, 227, 226); /* Optional */
}

/* Your world of joy */
.heroText {
  position: absolute;
  left: 611px;
  top: 20px;
  font-family: "Abyssinica SIL";
  font-style: normal;
  font-weight: 400;
  font-size: 61px;
  color: rgba(5, 0, 0, 0.76);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  h1 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

/* Find what makes you happy anytime, anywhere */
.heroText p {
  position: absolute;
  width: 447px;
  height: 27px;
  left: 25px;
  font-family: "Abyssinica SIL";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Search Destinations */
.searchDestinations {
  position: absolute;
  width: 1167px;
  height: 91px;
  left: 261px;
  top: 620px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}