

.packageCardContainer{
  display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px 20px 20px 110px;
}

// .TopPlacesToVisitText{
//   font-size: 30px;
//   font-weight: bold;
//   margin: 20px 20px 20px 110px;
// }

.ProgressiveCarouselContainer{
  // display: flex;
  // flex-direction: row;
  padding: 0px 20px 20px 20px;
  margin: 0px 20px 20px 20px;
  
}


.MeteorCarouselContainer{
  display: flex;
  flex-direction: row;
 padding: 20px;
 margin: 20px 20px 20px 110px;
  // box-shadow: 0 2px 4px rgb(230, 227, 226);
}
