.container {
    // margin: 20px;
    // background-color: #000000;
    height: 100vmax;
  }
  
  .navTabs {
    justify-content: center;
  }
  
  .navLink {
    font-size: 1rem;
    font-weight: bold;
    color: #6fd4d2 !important; // Override default color with !important
    background-color: transparent !important; // Ensure transparent background for inactive tabs
  
    &:hover {
    //   color: #d8c0cf !important; // Hover color
    }
  
    // Apply custom styling for active state
    &.activeTab {
      color: #e1d4d4 !important; // Active tab text color
      background-color: #ffffff00 !important; // Active tab background color
    }
  }
  
  .tabContent {
    // border: 1px solid #dee2e6;
    // border-top: 0;
    // padding: 15px;
  }
  
  .tabPane {
    // padding: 10px;
  }

  .LadakhContainer1st{
    padding: 20px;
    margin: 20px;
    // background-color: #ffffff;
    // height: 100vh;
  }

  .FullHeight{
    // height: 100%;
    height: 1000vh;
    margin: 200px;
  }

  .uri{
    padding: 1px;
  }
  
  .Pahalgam{
    margin: 50px 500px;
  }

  .Srinagar{
    margin: 20px;
    // padding: 20px;
  }

  .Srinagar1{
    margin: 10px;
    padding: 10px;
  }

  .Srinagar2{
    margin: 10px;
    padding: 10px;
  }