
.stickyNavbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #283048;  /* fallback for old browsers */
    box-shadow: 0 2px 4px rgb(230, 227, 226);
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    // background-color: transparent;
  }
  

  
.navbar {
  // background: #283048;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #859398, #283048); 
    color: white;
    
    .flex-center {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .flex-center-between {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    img.size-8 {
      width: 32px; // Adjust the size as needed
      height: auto;
    }
  }
  

