// Home.module.scss

.container {
  padding: 5rem 1rem;

  @media (min-width: 768px) {
    padding: 5rem 2rem; // Adjust padding for medium screens
  }

  h2 {
    font-size: 1.875rem; // 3xl
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem; // mb-12
  }
}

.gallerySection {
  background-color: #f7fafc; // gray-100
}
