
  
.packagesPage {
  display: flex;
  flex-direction: row;
    padding: 2rem;
    max-width: 1800px;
    margin: 0 auto;
  }

  .cardsSection{
    flex: 6;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
    max-width: 1800px;
  }

  // .grid {
  //   display: grid;
  //   grid-template-columns: 1fr;
  //   gap: 2rem;
  
  //   @media (min-width: 1024px) {
  //     grid-template-columns: 1fr 1fr;
  //   }
  // }
  