// DesktopMenu.module.scss
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover-bg {
  &:hover {
      background-color: rgba(255, 255, 255, 0.05);
  }
}

.cursor-pointer {
  cursor: pointer;
}

.rounded-xl {
  border-radius: 0.75rem; /* rounded-xl */
}

.sub-menu {
  /* Additional styles can go here if needed */
}

.grid {
  display: grid;
  gap: 1.75rem; /* gap-7 */
}

.grid-cols-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.relative {
  position: relative;
}

.text-white-500 {
  color: rgba(255, 255, 255, 0.5); /* or use a specific hex value */
}

.group-menubox {
  &:hover {
      background-color: rgba(255, 255, 255, 1);
      color: #1f2937; /* text-gray-900 */
      transition: background-color 0.3s;
  }
}

.font-semibold {
  font-weight: 600;
}

.text-sm {
  font-size: 0.875rem; /* text-sm */
}

.text-gray-400 {
  color: rgba(156, 163, 175); /* text-gray-400 */
}

.mt-1 {
  margin-top: 0.25rem; /* mt-[0.6px] */
}
