.weatherCard {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(249, 248, 248, 0.806);
    padding: 20px;
    text-align: center;
    width: 250px;
    height: 500px;
    margin: 1px;

    .weatherCardContent{
      padding: 2px;
      margin: 1px;
    }
  
    & h2 {
      font-size: 1.5rem;
      color: #333;
    }
  
    & img {
      width: 100px;
      height: 100px;
    }
  
    & p {
      margin: 10px 0;
      color: #555;
  
      &.temperature {
        font-size: 2rem;
        font-weight: bold;
        color: #ff5733;
      }
  
      &.humidity {
        font-size: 1rem;
      }
    }
  }
  
  .loading,
  .error {
    text-align: center;
    font-size: 1rem;
    color: #777;
  }
  