.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    max-width: 350px;
    margin: 20px;
    overflow: hidden;
    background-color: #fff;
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  }
  
  .imageContainer {
    position: relative;
    .bookmarkButton {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
      color: #fff;
    }
    .prevButton, .nextButton {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.5);
      border: none;
      font-size: 24px;
      color: #fff;
      cursor: pointer;
      padding: 10px;
    }
    .prevButton {
      left: 10px;
    }
    .nextButton {
      right: 10px;
    }
    .image {
      width: 100%;
      transition: transform 0.3s;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  
  .content {
    padding: 16px;
    background-color: black;
    color: white;
    .heading {
      font-weight: bold;
      font-size: 1.5em;
    }
    .subheading {
      display: flex;
      align-items: center;
      margin-top: 10px;
      .location-icon {
        margin-right: 8px;
      }
    }
    .details {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
      .detail {
        display: flex;
        align-items: center;
        margin-right: 16px;
        .icon {
          margin-right: 8px;
        }
      }
    }
    .description {
      margin: 16px 0;
    }
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .detailsButton {
        background: none;
        border: none;
        cursor: pointer;
        transition: color 0.3s;
        &:hover {
          color: #007bff;
        }
      }
      .price {
        font-weight: bold;
      }
      .mapButton {
        background: none;
        border: none;
        cursor: pointer;
        color: white;
      }
    }
  }