.container {
  //   background-color: #121212; /* Dark background for the calendar */
  padding: 20px;
  //   border-radius: 12px;
  max-width: 500px;
  margin: 0 auto;
  color: black; /* White text for readability */

  .react-calendar {
    // background-color: transparent;
    border-radius: 20px !important;

    .react-calendar__tile {
      background: transparent;
      color: #fff;
      font-size: 1rem;
      position: relative;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: #424242; /* Light blue hover effect */
        color: #fff;
      }
    }

    .react-calendar__tile--now {
      background-color: #424242;
      color: #fff;
      font-weight: bold;
    }

    .react-calendar__tile--active {
      background-color: transparent;
    }
  }
}

.selectedDate {
  background-color: #4d8dc9 !important; /* Light blue circle for start and end dates */
  color: #fff !important;
  border-radius: 60px;
  z-index: 2;
}

.rangeDate {
  background-color: #cce3fd; /* Continuous blue bar for in-between dates */
  background-size: 20%;
  color: black !important;
  border-radius: 20px; /* Rsemove border radius for the continuous effect */
  position: relative;
  z-index: 1;
  gap: 10px;
  //   padding: 0px;
  //   margin: 20px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 10%;
    height: 100%;
    top: 10;
    // background-color: #424242; /* Same color as the rangeDate */
    z-index: 110;
  }

  &:before {
    left: 0;
    border-radius: 10px 0 0 10px; /* Round left edge */
  }

  &:after {
    right: 0;
    border-radius: 0 10px 10px 0; /* Round right edge */
  }
}

.selectedDatesBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black; /* Light blue text for the selected dates display */
  // border : 2px solid #4D8DC9;
  padding: 10px;
  margin-top: -1px;
  font-size: 15px;
  // margin-top: 20px ;
  background-color: white;
  justify-content: center;
  align-items: center;
  // border-bottom: 1px solid black;
  // border-left: 0.01px solid black;
  // border-right: 1px solid black;

  .selectedDatesText {
    // border: 3px solid #3F3F46;
    border-radius: 10px;
    padding: 3px;
  }

  .selectedDatesFromToBox {
    display: flex;
    flex-direction: row;
    margin: 1px;
    padding: 1px;
    gap: 75px;

    .selectedDatesFrom {
      margin: 1px;
      padding: 5px;
      border: 3px solid #a1a1aa;
      border-radius: 10px;
    }

    .selectedDatesTo {
      margin: 1px;
      padding: 5px;
      border: 3px solid #a1a1aa;
      border-radius: 10px;
    }
  }
}
