.DateContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    // border: 2px solid grey;
    padding: 2px;
    margin: 2px;
}

.line{
    border-bottom: 1px solid #e0e0e0;
    margin: 10px 1px 10px 1px;
  }

  .adultsAgeContaier{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
   

    .adultsAgeInput{
        display: flex;
        margin-left:20px ;
    }
  }

  .ChildrenAgeContaier{
    display: flex;
    flex-direction: row;
    padding: 2px;
    margin: 2px;

    .childrenAgeInput{
        display: flex;
        margin-left:20px ;
    }
  }

  .extraServices{
    padding: 2px;
    margin: 2px;
  }

  .extraServicesDescription{
    padding: 2px;
    margin: 2px;
  }

  .healthContainer{
    display: flex;
    flex-direction: row;
    padding: 2px;
    margin: 2px;

    .healthContaierInput{
        display: flex;
        margin-right:20px ;
        padding-right: 20px;
    }

    .healthContaierText{
        display: flex;
        // margin-left:20px ;
    }

    .healthContaierInputBox{
        margin-right: 20px;
    }
  }

  .medicalContaier{
    padding: 2px;
    margin: 2px;
  }

  .adultsAgeContaier{
    padding: 2px;
    margin: 2px;
  }

  .healthContaierInputBox{
    margin-right: 20px;
}


.SubmitButton{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    font-size: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20px;

    &:hover {
        background-color: #45a049;
    }
}